@charset "utf-8";
/* CSS Document */

@import url(https://fonts.googleapis.com/css?family=Nanum+Brush+Script);
body {
	background: url('http://4.bp.blogspot.com/-5KgnIVq217I/UgGPA1uKDmI/AAAAAAAAFrQ/fhhl_U6GXA4/s1600/wildtextures-old-paper-texture-3.jpg') no-repeat center center fixed; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	text-align: center;
	font-family: Helvetica, sans-serif;
}
.Pirate_Logo {
	width: 200px;
}
input {
	border: 2px solid #999;
	font-family: Helvetica, sans-serif;
	color: #999;
}
#Correct_Letters {
	font-family: 'Nanum Brush Script', cursive;
	font-size: 4.0em;
}
h1 {
	font-family: 'Nanum Brush Script', cursive;
	margin-bottom:-20px;
}
	p{
		font-family: 'Nanum Brush Script', cursive;
		font-size:2em;
		font-weight:bold;
	}